body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
  font-size: 35px;
}

.grid-container {
  display: grid;
  grid-template-columns: 350px 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.05fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}

/* ---------- HEADER ---------- */
.header {
  grid-area: header;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
  display: none;
}

/* ---------- Search ---------- */
.search-container {
  display: flex;
  align-items: center;
}

#search-input {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
}

#search-button {
  margin-left: 10px;
  padding: 5px 10px;
}

#search-results {
  margin-top: 10px;
}

.search-result-item {
  margin-bottom: 10px;
  cursor: pointer;
}

.search-result-item:hover {
  text-decoration: underline;
}



/* ---------- SIDEBAR ---------- */

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #28272f;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: block;
  background-color: #1d1c22;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 10px 20px;
  margin-bottom: 0px;
}

.sidebar-title>span {
  display: none;
}

.sidebar-brand {
  margin-top: 0px;
  margin-left: 0px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  margin-top: 10px;
  list-style-type: none;
}

.sidebar-list-item {
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px 20px 20px 20px;
  font-size: 18px;
  transition: background-color 0.5s;
}

.sidebar-list-item:hover {
  background-color: #1d1c22;
  cursor: pointer;
}
canvas { 
  height: 100vh; 
  width: 100vw; 
  display: block;
}
.sidebar-list-item>a {
  text-decoration: none;
  color: #ffffff;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    the z-index of the ApexCharts is 11
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}

.sidebar-head {
  display: flex;
  background-color: #111114;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 10px;
  margin-bottom: 0px;
}

/* ---------- MAIN ---------- */

.main-container {
  grid-area: main;

  padding: 20px 20px;
  color: rgba(52, 52, 52, 0.95);
}

.main-title {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}


.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 20px 0;
}

.card {
  height: 80px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.5);
}

.card:first-child {
  background-color: #4a76f0;
}

.card:nth-child(2) {
  background-color: #fd923f;
}

.card:nth-child(3) {
  background-color: #30bc37;
}

.card:nth-child(4) {
  background-color: #e03b3b;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.95);
}

.card-inner>.material-icons-outlined {
  font-size: 45px;
}
.cards-container {
  display: flex;
  justify-content: space-between; /* Adjust this to control spacing between cards */
  align-items: center; /* Vertically center the cards */
  margin-bottom: 20px; /* Add margin between containers */
}
.charts {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px 0;
}

.pie-chart-container {
  width: 150px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  margin: 0 auto; /* Center the pie chart within the container */
}
.title {
  width: 100%;
  text-align: left;
  font-size: 24px;

}
.charts-card {
  display: grid;
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom : 20px;
  padding: 20px;
  width: 1000px;
  height: 300px;
  -webkit-column-break-inside: avoid;
  border-radius: 20px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0.5, 0.5);
  grid-template-columns: 1fr 1fr 1fr  ;
}

.charts-card2 {
  background-color: #a19292;
  margin-top: 20px;
  padding: 10px;
  width: 1000px;
  height: 300px;
  -webkit-column-break-inside: avoid;
  border-radius: 20px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0.5, 0.5);
}

.chart-title {
  display: flex;
  align-items: top;
  justify-content: center;
}

.line {

  width: 1000px;
  height: 3px;
  background-color: #3f3c3c;
}
.chart-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: rgb(112, 112, 112);
  height: 100%;
}


.chart-container {
  position: relative;
  width: 400px;
  height: 350px; /* Increased height to accommodate title and line */
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 40px;
  margin-left: 20px; /* Adjust this value to shift the chart container to the left */
  
}
.group-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px; /* Add margin between groups */
}
/* .img1 {
  position: relative;
  background-image: url(/images/Force.png);
  background-size: cover;
  width: 950px;
  height: 210px;
  justify-content: center;
}

.img2 {
  position: relative;
  background-image: url(/images/Altitude.png);
  background-size: cover;
  width: 950px;
  height: 210px;
  justify-content: center;
}

.img3 {
  position: relative;
  background-image: url(/images/Azimuth.png);
  background-size: cover;
  width: 1000px;
  height: 210px;
  justify-content: center;
} */


/* ---------- MEDIA QUERIES ---------- */

/* Medium <= 992px */

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title>span {
    display: inline;
  }
}


/* Small <= 768px */

@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    
    grid-template-columns: 1fr 1fr;

  }
}


/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}

.dropdown {
  max-width: 13em;
  margin: 0px;
  position: relative;
  width: 100%;
}

.dropdown-btn {
  background: #1d1f24;
  font-size: 21px;
  width: 100%;
  border: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-left: -20px;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: transform ease-in-out 0.3s;
  margin-left: 8px;
}

.dropdown-content {
  list-style: none;
  position: absolute;
  top: 20px;
  width: 210px;
  visibility: hidden;
  overflow: hidden;
}

.dropdown-content li {
  background: #2f3238;
  border-radius: 0.5em;
  position: relative;
  left: 100%;
  transition: 0.5s;
  font-size: 16px;
  margin-left: 0px;
  z-index: 0;

  transition-delay: calc(60ms * var(--delay));

}

.dropdown-content li:hover {
  background: #1d1f24;
}

.dropdown-content li a {
  display: block;
  padding: 0.7em 0.5em;
  color: #fff;
  margin: 0.1em 0;
  text-decoration: none;
}

.dropdown-btn:focus+.dropdown-content {
  visibility: visible;
}

.dropdown-btn:focus>.arrow {
  transform: rotate(180deg);
}

.dropdown-btn:focus+.dropdown-content li {
  left: 0;
}

@property --p {
  syntax: '<number>';
  inherits: true;
  initial-value: 1;
}

.pie {
  --p: 20;
  --b: 30px;
  --c: darkred;
  --w: 220px;

  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  margin: 0px;
  place-content: center;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  left: 10px;
  top: 20px;
  text-align: center;
}

.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.pie:before {
  inset: 0;
  background:
    radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
  mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.pie:after {
  inset: calc(50% - var(--b)/2);
  background: var(--c);
  transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}

.animate {
  animation: p 1.5s .5s both;
}

.no-round:before {
  background-size: 0 0, auto;
}

.no-round:after {
  content: none;
}

@keyframes p {
  from {
    --p: 0;
  }
}


.search {
  height: 32px;
  width: 40px;
  top: 100px;
  background: #373641;
  color: #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding: 4px 0px 4px 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 8px;
}

.search:hover {
  background: rgb(39, 40, 42);
}

select {
  background-color: #eaecef;
  height: 25px;
}

select option {
  background: rgb(73, 73, 73);
  color: #fdfdfd;
}

.searchrow {
  display: grid;

}

.search2 {
  top: 50px;

}

.select2-dropdown.select2-dropdown--below {
  color: #000;
}




a,
a:link,
a:visited,
a:active {
  color: #d3dfe5;
}

a:focus,
a:hover,
a:link:focus,
a:link:hover,
a:visited:focus,
a:visited:hover,
a:active:focus,
a:active:hover {
  color: #e8edf0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#login-form-wrap {
  background-color: #fff;
  width: 35%;
  margin: 30px auto;
  text-align: center;
  padding: 20px 0 0 0;
  border-radius: 4px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

#login-form {
  padding: 0 60px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 0 0 0 10px;
  margin: 0;
  color: #8a8b8e;
  border: 1px solid #c2c0ca;
  font-style: normal;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  background: none;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border-color: #3ca9e2;
}

input[type="text"]:focus:invalid,
input[type="email"]:focus:invalid {
  color: #cc1e2b;
  border-color: #cc1e2b;
}

input[type="text"]:valid~.validation,
input[type="email"]:valid~.validation {
  display: block;
  border-color: #0C0;
}

input[type="text"]:valid~.validation span,
input[type="email"]:valid~.validation span {
  background: #0C0;
  position: absolute;
  border-radius: 6px;
}

input[type="text"]:valid~.validation span:first-child,
input[type="email"]:valid~.validation span:first-child {
  top: 30px;
  left: 14px;
  width: 20px;
  height: 3px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="text"]:valid~.validation span:last-child,
input[type="email"]:valid~.validation span:last-child {
  top: 35px;
  left: 8px;
  width: 11px;
  height: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.validation {
  display: none;
  position: absolute;
  content: " ";
  height: 60px;
  width: 30px;
  right: 15px;
  top: 0px;
}

input[type="submit"] {
  border: none;
  display: block;
  background-color: #64747d;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

input[type="submit"]:hover {
  background-color: #329dd5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#create-account-wrap {
  background-color: #eeedf1;
  color: #8a8b8e;
  font-size: 14px;
  width: 100%;
  padding: 10px 0;
  border-radius: 0 0 4px 4px;
}

.login_head {
  font-size: 30px;
  color: #535353;
}

nav {
  margin: 0px;
  width: 100%;
  height: auto;
  display: inline-block;
  color: white;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  display: inline-block;
}

nav ul li {
  position: relative;
  margin: 0 20px 0 0;
  float: left;
  display: inline-block;
}

li>a:after {
  content: ' »';
}

/* Change this in order to change the Dropdown symbol */

li>a:only-child:after {
  content: '';
}

nav ul li a {
  padding: 20px;
  display: inline-block;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  opacity: 0.5;
}

nav ul li ul {
  display: none;
  position: absolute;
  left: 0;
  background: #2d2d2d;
  float: left;
}

nav ul li ul li {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

nav ul li:hover ul {
  display: block;
}

.selectline {
  font-size: 15px;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-bottom: 0px;

}